.pulse-timeline-item {
  color: #FFF;
  padding: 10px;
  margin: 0 10px 10px 10px;
}

.pulse-timeline-item .heading-wrap {
  overflow: auto;
}

.pulse-timeline-item .heading-username,
.pulse-timeline-item .heading-time,
.pulse-timeline-item .heading-netid-hidden {
  display: inline;
}

.pulse-timeline-item .heading-username,
.pulse-timeline-item .heading-netid-hidden {
  float: left;
}

.pulse-timeline-item .heading-time {
  float: right;
  color: var(pulse-light-gray);
}

.pulse-timeline-item .heading-real-hidden-date,
.pulse-timeline-item .heading-netid-hidden {
  display: none;
}

.pulse-timeline-item .heading-real-hidden-date .js-long-date {
  display: none;
}

@media(min-width: 480px) {
  .pulse-timeline-item .heading-real-hidden-date .js-short-date {
    display: none;
  }

  .pulse-timeline-item .heading-real-hidden-date .js-long-date {
    display: inline;
  }
}

.pulse-timeline-item .text-holder {
  font-weight: lighter;
}

.pulse-timeline-item .email {
  float:right;
}

.pulse-timeline-item .email-button {
  background-color: black;
  outline: 0;
  border: 0;
  padding: 10px 15px;
  border-radius: 5px;
  line-height: 1;
  margin:10px 0 0;
}