@import "./topcoat/topcoat-mobile-light.css";
@import "ribcage-top-bar";
@import "ribcage-back-button";
@import "./components/register/style.css";
@import "./components/accomplishment/style.css";
@import "./components/comment/style.css";
@import "./components/window/style.css";

body,
#app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app .top-bar {
  background-color: #FFF;
  border-bottom: 1px solid #333;
  padding: 0 5px;
}

.pulse-padded {
  padding: 5px;
}
