.chat-heading {
  position: absolute;
  top: 0;
  left: 70%;
  right: 0;
  z-index: 0;
  height: 60px;
}

.chat-body {
  position: absolute;
  top: 60px;
  left: 70%;
  right: 0;
  bottom: 150px;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.chat-footer {
  position: absolute;
  left: 70%;
  right: 0;
  z-index: 0;
  bottom: 0;
  height: 130px;
}

.chat-footer form textarea {
  height: 90px;
}

