:root {
  var-entry-pane-height: 80px;
  var-entry-form-height: 50px;
}

.js-main-pane {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  padding:0 0 var(entry-pane-height) 0;
  z-index: 0;
}

.js-entry-pane {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 5px;
  z-index: 1;
}

.js-entry-pane form {
  bottom: var(entry-form-height);
}

.js-entry-pane .js-entry-input {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 260px;
  bottom: var(entry-form-height);
}

.js-entry-pane .js-comment,
.js-entry-pane .js-accomplish {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 130px;
}
.js-entry-pane .js-comment {
  width: 115px;
  right: 140px;
}

.js-entry-pane .enter-hint {
  position: absolute;
  color: #333;
  font-size: .8em;
  bottom: 2px;
  height: 20px;
  line-height: 20px;
  padding: 0 2px;
}

@media(max-width: 480px) {
  .js-main-pane {
    padding:0 0 120px 0;
  }
  .js-entry-pane,
  .js-entry-pane form {
    height: 120px;
  }

  .js-entry-pane .js-entry-input {
    right: 5px;
  }

  .js-entry-pane .js-comment,
  .js-entry-pane .js-accomplish {
    top: 60px;
    right: 5px;
  }
  .js-entry-pane .js-comment {
    right: 140px;
  }

  .js-entry-pane .enter-hint {
    display: none;
    visibility: hidden;
  }
}
