/* That header is just for semantics */
h1 {
  display: none;
}

/**
* Holds the three panes
*/
.pulse-app-window {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

/* This are the gray centered headings */
.pulse-app-window h2 {
  font-family: 'bebasregular', Helvetica, sans-serif;
  color: var(pulse-gray);
  text-align: center;
}

form {
  padding: 0 10px;
}

form textarea {
  width: 100%;

  /* Needed otherwise it overflows! */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

form submit {
  font-family: 'bebasregular', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 1px;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #FFF;
  background-color: var(pulse-lighter-gray);
}

@import "./accomplishment-pane.css";
@import "./pulse-pane.css";
@import "./chat-pane.css";
