:root {
  var-entry-pane-height: 80px;
  var-entry-form-height: 50px;
}

.js-main-pane {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.js-entry-pane,
.js-register-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 5px;
  z-index: 1;
}

.js-register-overlay {
  z-index: 2;
  background-color: #000;
}

.js-register-overlay h2 {
  color: #FFF;
  float: left;
  margin: 25px 0 0 10px;
}

.js-register-overlay form {
  display: block;
  float: right;
  margin: 15px 10px 0 0;
}

.js-entry-pane form {
  bottom: var(entry-form-height);
}

.js-entry-pane .js-entry-input {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 260px;
  bottom: var(entry-form-height);
}

.js-entry-pane .js-comment,
.js-entry-pane .js-accomplish {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 130px;
}
.js-entry-pane .js-comment {
  width: 115px;
  right: 140px;
}

.js-entry-pane .enter-hint,
.js-entry-pane .incomplete-hint,
.js-entry-pane .invalid-hint {
  position: absolute;
  color: #333;
  font-size: .8em;
  bottom: 2px;
  height: 20px;
  line-height: 20px;
  padding: 0 2px;
}

.js-entry-pane .incomplete-hint,
.js-entry-pane .invalid-hint {
  color: #ec514e;
  font-weight: bold;
}

.js-entry-pane input.invalid {
  border: 1px solid #ec514e;
}

@media(max-width: 480px) {
  .js-main-pane {
    bottom: 115px;
  }
  .js-entry-pane,
  .js-entry-pane form,
  .js-register-overlay {
    height: 115px;
  }

  .js-entry-pane .js-entry-input {
    right: 5px;
  }

  .js-entry-pane .js-comment,
  .js-entry-pane .js-accomplish {
    top: 60px;
    right: 5px;
  }
  .js-entry-pane .js-comment {
    right: 140px;
  }

  .js-entry-pane .enter-hint,
  .js-entry-pane .incomplete-hint,
  .js-entry-pane .invalid-hint {
    display: none;
    visibility: hidden;
  }

  .js-register-overlay h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.3em;
    line-height: 20px;
    margin: 0;
    float: none;
  }

  .js-register-overlay .js-join {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
