<div class="js-main-pane">
</div>
<div class="js-entry-pane">
  <form action="#">
    <input type="text" class="topcoat-text-input js-entry-input" value="" placeholder="Share something!">
  </form>
  <div class="enter-hint">Press "Enter" to send</div>
</div>
