<div class="js-main-pane">
</div>
<div class="js-entry-pane">
  <form action="#">
    <input type="text" class="topcoat-text-input js-entry-input" value="" placeholder="Share something!">
    <submit class="topcoat-button js-comment" >Comment</submit>
    <submit class="topcoat-button--cta js-accomplish">Accomplish</submit>
  </form>
  <div class="enter-hint">Press "Enter" to comment, or "Shift+Enter" to share an accomplishment</div>
  <div class="invalid-hint">Enter at least 10 characters, with no newlines</div>
  <div class="incomplete-hint">Comments aren't done yet. Hit "Shift+Enter" to share an accomplishment.</div>
</div>
{{#unless authenticated}}
<div class="js-register-overlay">
  <h2>Get Things Done With Us!</h2>
  <form action="#">
    <submit class="topcoat-button js-join" >Sign In</submit>
  </form>
</div>
{{/unless}}
