{{! This holds the accomplishment title and form }}
<section class="accomplishment-header">
  <section class="accomplishment-title">
    <h2>Accomplishments</h2>
  </section>
  {{#if authenticated}}
  <section class="accomplishment-form">
    <form action="#">
      <div class="entry-input-wrap">
        <textarea class="js-accomplishment-input entry-input" placeholder="What have you done lately?">{{ formStash.accomplishment }}</textarea>
      </div>
      <submit class="js-accomplishment">Accomplish!</submit>
    </form>
  </section>
  {{else}}
  <section class="login-prompt">
    <div class="prompt-padding">
      <h3>Hello, Stranger!</h3>
      <p>
        <a class="js-join" href="#">Sign in now</a> and get things done with us.
      </p>
    </div>
  </section>
  {{/if}}
</section>

{{! This holds the stream of accomplishments}}
<section class="js-accomplishment-pane accomplishment-pane">
</section>

<nav class="pulse-pane">
  <h2>Recently Active</h2>
  <a href="http://www.founders.illinois.edu" target="blank"><img src="/img/Pulse-Logo.png" /></a>
  <p>
    The heartbeat of the<br />
    entrepreneurship community<br />
    @ Illinois.
  </p>
</nav>

{{! The chat heading is pinned to the top }}
<section class="chat-heading">
  <h2>Chat</h2>
</section>

{{! The chat stream streches in the middle }}
<section class="js-chat-pane chat-body">

</section>

{{#if authenticated}}
{{! The new chat form is pinned to the bottom }}
<section class="chat-footer">
  <form action="#">
    <div class="entry-input-wrap">
      <textarea class="js-chat-input entry-input">{{ formStash.chat }}</textarea>
    </div>
    <submit class="js-chat">Send</submit>
  </form>
</section>
{{/if}}
