<div class="site-header">
  <div class="header-left">
    <h2>Accomplishments</h2>
  </div>
  <div class="header-right">
    <h2>Chat</h2>
  </div>
</div>
<div class="js-info-pane">
  <h1>Pulse</h1>
  <p>
    The heartbeat of the<br />
    entrepreneurship community<br />
    @ Illinois.
  </p>
</div>
<div class="js-accomplishment-pane">
</div>
<div class="js-comment-pane">
</div>
<div class="js-entry-pane">
  <form action="#">
    <div class="entry-input-wrap">
      <input type="text" class="topcoat-text-input js-entry-input entry-input" value="" placeholder="Share something!">
    </div>
    <submit class="topcoat-button js-comment" >Send Chat</submit>
    <submit class="topcoat-button--cta js-accomplish">Accomplish</submit>
  </form>
  <div class="enter-hint">Press "Enter" to chat, or "Shift+Enter" to share an accomplishment</div>
  <div class="invalid-hint">Enter at least 10 characters, with no newlines</div>
  <div class="incomplete-hint">Comments aren't done yet. Hit "Shift+Enter" to share an accomplishment.</div>
</div>
{{#unless authenticated}}
<div class="js-register-overlay">
  <h2>Get Things Done With Us!</h2>
  <form action="#">
    <submit class="topcoat-button js-join" >Sign In</submit>
  </form>
</div>
{{/unless}}
