.pulse-accomplishment h3 {
  padding: 5px;
}

.pulse-accomplishment .wrap {
  overflow: auto;
}

.pulse-accomplishment .header-left {
  float: left;
}

.pulse-accomplishment .header-right {
  float: right;
}

.pulse-accomplishment .comment-body {
  border-left: 10px solid #777;
  background-color: #FFF;
  padding: .1rem;
}

.pulse-accomplishment .text-holder,
.pulse-accomplishment .signature {
  font-size: 1.2em;
  padding: 10px;
}

.pulse-accomplishment .signature,
.pulse-accomplishment .js-load-comments,
.pulse-accomplishment .loading-comments {
  font-size: .8em;
  text-align: right;
}

.pulse-accomplishment .js-load-comments,
.pulse-accomplishment .loading-comments {
  text-align: center;
  padding: .3rem;
  background-color: #EEE;
}
