.pulse-accomplishment {
  background-color: #FFF;
  padding: 5px;
  margin: 5px;
}

.pulse-accomplishment h3 {
  padding: 5px;
}

.pulse-accomplishment .signature-wrap {
  overflow: auto;
}

.pulse-accomplishment .signature-left,
.pulse-accomplishment .signature-right {
  display: inline;
}

.pulse-accomplishment .signature-left {
  float: left;
}

.pulse-accomplishment .signature-right {
  float: right;
}

.pulse-accomplishment .signature-real-hidden-date {
  display: none;
}

.pulse-accomplishment .signature-real-hidden-date .js-long-date {
  display: none;
}

@media(min-width: 480px) {
  .pulse-accomplishment .signature-real-hidden-date .js-short-date {
    display: none;
  }

  .pulse-accomplishment .signature-real-hidden-date .js-long-date {
    display: inline;
  }
}

.pulse-accomplishment .accomplishment-body {
  padding: 10px 0;
}

.pulse-accomplishment .text-holder {
  font-size: 1.2em;
  padding: 10px;
}
