.top-bar-holder .top-bar {
  background-color: var(pulse-top-bar-gray);
}

.top-bar-holder .top-bar .left-button-target {
  padding: 10px;
}

.js-reg-form submit,
.js-netid-form submit,
.js-login-form submit,
.js-reg-form button,
.js-netid-form button {
  margin: 5px 5px 0 0;
}

.js-login-form input,
.js-login-form label,
.js-netid-form input,
.js-netid-form label,
.js-reg-form input,
.js-reg-form label {
  display: block;
}

.js-login-form input.invalid,
.js-netid-form input.invalid,
.js-reg-form input.invalid {
  border: 1px solid #ec514e;
}

.pulse-auth-panel label {
  color: #FFF;
  font-size: 18px;
  margin: 10px 0;
}

.pulse-auth-panel .text-input {
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  padding: 2px;

  /* Needed otherwise it overflows! */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
