.js-reg-form submit,
.js-netid-form submit,
.js-login-form submit,
.js-reg-form button,
.js-netid-form button {
  margin: 5px 5px 0 0;
}

.js-login-form input,
.js-login-form label,
.js-netid-form input,
.js-netid-form label,
.js-reg-form input,
.js-reg-form label {
  display: block;
}

.js-login-form input.invalid,
.js-netid-form input.invalid,
.js-reg-form input.invalid {
  border: 1px solid #ec514e;
}
